<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let path of paths">
            <a class="nav-link" [routerLink]="path.url" routerLinkActive="active bigger">
                {{ path.title }}</a>
        </li>
    </ul>
    <div class="ml-auto float-right" *ngIf="loggedIn">
        <span>loggedIn</span>
        <a href="#" (click)="logout()">Log out</a>
    </div>

</nav>

<router-outlet></router-outlet>
