<div class="row p-3 mt-4">
	<div class="col-md-10 mx-auto">
			<div class="clearfix">
					<button type="button" class="btn btn-primary btn-sm float-right">
							<i class="fa fa-plus-square-o" aria-hidden="true"></i> Create A Ticket
						</button>
						</div>
		<div class="border border-secondary mt-2">
		<h5 class="text-center p-1 my-2"> Tickets Requested </h5>
<p *ngIf="entries.length == 0; else hasEntries">
		No entries yet.
	  </p>
	  
	  <ng-template #hasEntries>
		<table class="table table-striped">
				<thead>
						<tr>
							<th>Subject</th>
							<th>Start Date</th>
							<th>Last Updated</th>
							<th>Location</th>
							<th>Progress</th>
							<th>Actions</th>
						</tr>
					</thead>
		  <tr *ngFor="let entry of entries">
			<td>{{entry.subject}}</td>
			<td>{{entry.startDate | date:'shortDate'}}</td>
			<td>{{entry.lastUpdated | date:'shortDate'}}</td>
			<td>{{entry.location}}</td>
			<td>{{entry.progress}}</td>
			<td>
				<button class="btn btn-sm btn-outline-info">
					<i class="fa fa-info-circle" aria-hidden="true"></i> View Details
				</button></td>
		  </tr>
		</table>
		</ng-template>
	</div>
		</div>
		</div>